# 1. loading data
## installing packages

In [79]:
%pip install seaborn numpy pandas xgboost -qqU

# Importing libs

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from xgboost import XGBRegressor
import xgboost
from sklearn.metrics import mean_squared_error
import seaborn as sns
import matplotlib.pyplot as plt
import calendar
from sklearn.preprocessing import OneHotEncoder
import pickle

# reading data and discarding data of years after 2019

In [122]:
data = pd.read_csv('data.csv')

In [123]:
data = data[~(data['JAHR'] > 2019)]
data = data[data.columns[:5]]

In [124]:
data.reset_index(drop=True, inplace=True)

## here I removed the outliers outside z-threshold because these values often dont provide any useful information or help converge the model

In [125]:
def remove_outliers(df, columns=None, z_threshold=3):

    if columns is None:
        columns = df.select_dtypes(include=[np.number]).columns


    df_clean = df.copy()


    for col in columns:
        z_scores = np.abs((df_clean[col] - df_clean[col].mean()) / df_clean[col].std())
        df_clean = df_clean[z_scores < z_threshold]

    return df_clean


data = remove_outliers(data)

In [ ]:
# checked for null values
data.isna().sum()

MONATSZAHL     0
AUSPRAEGUNG    0
JAHR           0
MONAT          0
WERT           0
dtype: int64